# CI280 Lab02 â€“ List
Upload your answer to GitHub
Email the link to: jzhang@eastwest.edu
Name: _________________

# A. Show the output: ( 10 pts)

In [1]:
numbers = [50, 20, 10, 80,10 ]
print(numbers)
print(numbers[2])

max_value = max(numbers)
max_index = numbers.index(max_value)
print('max =',max_value)
print(max_index)

min_value = min(numbers)
min_index = numbers.index(min_value)
print('min =', min_value)
print(min_index)

print('length =',len(numbers))
print('Elements =', numbers[len(numbers)-1])

[50, 20, 10, 80, 10]
10
max = 80
3
min = 10
2
length = 5
Elements = 10

In [2]:
names=['Steven', 'Will', 'Alicia']
print(names)

print('--')
for name in names:
    print(name)
    
print('--')
index = 2
while index < len(names):
    print(names[index])
    index += 1

['Steven', 'Will', 'Alicia']
--
Steven
Will
Alicia
--
Alicia

In [3]:
num1 = list(range(0,20,5))
print(num1)

num2 = num1 * 3
print(num2)

index = 0
while index < len(num1):
    num1[index] = num1[index]*3
    index += 1
print(num1)

print(sum(num1))
print(sum(num1)/len(num1))

[0, 5, 10, 15]
[0, 5, 10, 15, 0, 5, 10, 15, 0, 5, 10, 15]
[0, 15, 30, 45]
90
22.5

In [4]:
numbers = list(range(0,101,10))
print(numbers)

print(numbers[:5])
print(numbers[2:5])
print(numbers[7:])
print(numbers[-3:])

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[0, 10, 20, 30, 40]
[20, 30, 40]
[70, 80, 90, 100]
[80, 90, 100]

In [6]:
cities= ['Chicago', 'Paris']
print(cities)

['Chicago', 'Paris']

In [7]:
city_index = cities.index('Paris')
print(city_index)

1

In [9]:
cities.insert(1, 'New York')
print(cities)

['Chicago', 'New York', 'New York', 'Paris']

In [10]:
cities.reverse()
print(cities)

['Paris', 'New York', 'New York', 'Chicago']

In [11]:
cities.sort()
print(cities)

['Chicago', 'New York', 'New York', 'Paris']

In [13]:
cities.remove('New York')
print(cities)

['Chicago', 'New York', 'Paris']

In [19]:
# Variables
total_sales = 0.0
DAYS = 7

daily_sales = [ 0.0]*DAYS
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', ' Saturday']

for i in range(7):
    daily_sales[i] = float(input('Enter the sale for' + days_of_week[i] + ':'))
    
print('Weekly Sales')
print('--------------')

for index in range(7):
    print(days_of_week[index], ':$', format(daily_sales[index], ',.2f'))
    
for number in daily_sales:
    total_sales += number
   
highest = max(daily_sales)
max_index = daily_sales.index(highest)

lowest = min(daily_sales)
min_index = daily_sales.index(lowest)

avg_sales = sum(daily_sales)/ len(daily_sales)

print('\n Weekly Sales Summary')
print('----------------------------')
print('Total sales : $', format(total_sales, ',.2f'))
print('Average sales: $', format(avg_sales, ',.2f'))
print('The highest sales is in', days_of_week[max_index], ': $', format(highest, ',.2f'))
print('The Lowest Sales is in', days_of_week[min_index], ' :$', format(lowest, ',.2f'))

Enter the sale forSunday:100
Enter the sale forMonday:200
Enter the sale forTuesday:300
Enter the sale forWednesday:200
Enter the sale forThursday:250
Enter the sale forFriday:250
Enter the sale for Saturday:300
Weekly Sales
--------------
Sunday :$ 100.00
Monday :$ 200.00
Tuesday :$ 300.00
Wednesday :$ 200.00
Thursday :$ 250.00
Friday :$ 250.00
 Saturday :$ 300.00

 Weekly Sales Summary
----------------------------
Total sales : $ 1,600.00
Average sales: $ 228.57
The highest sales is in Tuesday : $ 300.00
The Lowest Sales is in Sunday  :$ 100.00